
a:link
{
    color: #0000ff;
}
a:hover 
{
    color: #aa00aa;
}
a:visited 
{
    color: #0000ff;
}
.navigation
{
    line-height: 2.0em;
    list-style: none;
}
.navigation li
{
    list-style: none;
}

.student_login fieldset {
  padding: 1em;  
}
.labelfloat
{
  clear:left;
  float:left;
  width:35%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
}





#nav-menu ul
{
list-style: none;
padding: 0;
margin: 0;
}

#nav-menu li
{
float: left;
margin: 0 0.15em;
}

#nav-menu li a
{
background: #fff bottom left repeat-x;
height: 1.5em;
line-height: 1.5em;
float: left;
width: 7em;
display: block;
border: 0.1em solid #dcdce9;
color: #0d2474;
text-decoration: none;
text-align: center;
}


/* Hide from IE5-Mac \*/
#nav-menu li a
{
float: none
}
/* End hide */

#nav-menu
{
width:30em
} 
