body {
  padding: 0.3em;
}

a:link
{
    color: #0000ff;
}
a:hover 
{
    color: #aa00aa;
}
a:visited 
{
    color: #0000ff;
}
.navigation
{
    line-height: 2.0em;
    list-style: none;
}
.navigation li
{
    list-style: none;
}

.student_login {
  padding: 1em;  
}
.student_login legend 
{
  clear:left;
  float:left;
  width:15%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
}
