/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #FEDFA7;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

select     
{     
 }

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #111;
    font-variant: small-caps;
    text-transform: none;
    font-weight: bolder;
    margin-bottom: 0px;
}

h1
{
    font-size: 160%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 120%;
    font-weight: 600;
    text-align:center
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    margin: 1px auto 0px auto;
    border: 2px solid #584F70;
    background: url('COCA_header_960.jpg');
    background-repeat:no-repeat;
    background-position:right top;
    clear: both;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #BDA68E;
    width: 100%;   
    color: White;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 5em;
    font-size: 2em;
}

.main
{
    /* padding-top: 120px; */
    margin: 12px 8px 8px 8px;
    min-height: 420px;    
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    ZZZborder: 3px solid black;
    margin-top: 150px;
    height: 30px;
    background-color:#584F70;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #7D6E5E;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

span.left {
position: absolute;
left: 0;
}
span.topright {
position: absolute;
right: 0;
top: 0;
}
span.right 
{
color: #FFFFFF;
position:absolute;
right: 0;
    top: 144px;
}
span.subheader 
{
    font-size: medium; 
    font-weight: normal; 
    font-style: normal; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #FFFFFF; 
    padding-left: 20px;
}
div.line {
position: relative;
text-align: center;
width: 100%;
}
div.center {
position: relative;
text-align: left;
margin-left: 250px;
    top: 0px;
    left: 1px;
}
div.leftpos {
position: relative;
text-align: left;
margin-left: 5px;
    top: 0px;
    left: 1px;
}
ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.schoolDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    margin-left: 40px;
}

.schoolDisplay a:link
{
    color: white;
}

.schoolDisplay a:visited
{
    color: white;
}

.schoolDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.ModalWindow 
{ 
  border: solid1px#c0c0c0; 
  background:#f0f0f0; 
  padding: 0px10px10px10px;
  position:absolute; 
  top:-1000px; 
}

.modalBackground    
{
    background-color:silver;    
    filter: alpha(opacity=60);    
    opacity: 0.6;      
}
.modalPopup
{
    background-color:White;    
    border: 1px solid #4C3C1B;    
    padding: 5px;
}
.DialogHeader
{
    background-color:#002D64;      
    color:White;    
    height:30px;     
    font-size:medium;    
    font-style:normal;    
    font-weight:bold;    
    vertical-align:middle;    
    display: table-cell;
}
.DialogHeaderFrame
{    
    width:100%;    
    cursor:default;    
    background-color:white;      
    display:table;
} 

.ModalPopupBG
{        
    background-color: Gray;        
    filter: alpha(opacity=70);        
    opacity: 0.7;        
    -moz-opacity: 0.7;}
